# Ch2. Variables

## 자료형 변환하기
- int, str, float, bool

In [2]:
a = 10
type(a)

int

In [3]:
# int => float
float(a)

10.0

In [4]:
# int => str
str(a)

'10'

In [5]:
# int => bool
bool(10)

True

In [8]:
# float => int: 10.6 => 정수형 변환 시 소수점 이하 값 버린다.
# 반올림 하는 것이 아님.
int(10.9)

10

In [10]:
x = 4.6
y = 7.9

print(int(x + y)) # 12.xx ==> int: 정수형 변환으로 소수점 이하 버림 ==> 12
print(int(x) + int(y)) # 4 + 7 
# int(정수형)으로 먼저 바꿔주는 것과 나중에 바꿔주는 것은 차이가 있음.

12
11

In [11]:
# str => int
p = '88.3'
# int(p)는 오류 뜸
# str에서 int로 바꿀 때는 int타입에 맞게 정수이어야한다.
# str에서 p가 소수이므로 float를 사용하여야 한다.
float(p)

88.3

### 꿀팁
`print()`

In [12]:
print('orange', 'apple', 'tomato') # default: 띄어쓰기, 줄 바꾸기
print("the next line")

orange apple tomato
the next line

In [13]:
orange = 'orange'
apple = 'apple'
tomato= 'tomato'

#1.
print(orange + apple + tomato) # + 연결 가능하지만 원소들간의 공백 사라진다
print(orange, apple, tomato, sep = ' ', end = '\n') # default
print(orange, apple, tomato, sep = '_', end = '\n\n') # 연결자 간 설정을 해줌
print('EOL')

orangeappletomato
orange apple tomato
orange_apple_tomato

EOL

In [14]:
# 라인이 짧을 때 => ; 사용
orange = 'orange'; apple = 'apple'; tomato= 'tomato'

In [15]:
num = 5; print(num)

5

## input()
- console에서 사용자에게 값을 입력 받는 함수
- 입출력 관련된
- 입력 받는 값의 타입은 문자열(str)
- 입력 받은 값을 변수에 담아서 사용한다.

In [16]:
input("What's your name?")

What's your name? kim

'kim'

In [17]:
#1.
name = input("What's your name?")

What's your name? kwon

In [18]:
name

'kwon'

In [19]:
#2.
print("What's your name?")
name = input()

What's your name?

 kwonsuhyun

In [20]:
print(name)

kwonsuhyun

input을 str이 아닌 다른 타입으로 사용하고 싶을 때는 형 변환을 미리 해준다.

In [21]:
age = input("How old are you?") #타입이 str으로 나오기 때문에 형을 변환시켜 주어야 한다.

How old are you? 20

In [22]:
type(age)

str

In [23]:
age = int(input("How old are you?")) #int로 바꿔주기

How old are you? 21

In [24]:
type(age)

int

In [25]:
print("당신이 태어난 해는", 2022 - age +1, '입니다.') # 연산 가능해짐 - int로 바꿨기 때문.

당신이 태어난 해는 2002 입니다.

### printing

In [26]:
print(f'당신이 태어난 해는 {age}년입니다!') # {}사이에 들어가는 것은 변수로 인식함
# print(f'{<variable>}')

당신이 태어난 해는 21년입니다!

In [27]:
print(f'당신이 태어난 해는 {2022 - age + 1}년입니다!')

당신이 태어난 해는 2002년입니다!

In [28]:
#Quiz. 택배 정보를 입력 받고 무게에 따른 값 선정하기

In [29]:
name = input("수취인의 성명:")
add = input("수취인의 주소:")
wei= float(input("물건 무게:"))

수취인의 성명: 권수현
수취인의 주소: 서울
물건 무게: 5

In [30]:
print(f'수취인의 성명: {name}')
print(f'수취인의 주소: {add}')
print(f'배송비: 3000원')
print(f'물건 비용: {wei*5}원')
print(f'총 합계: {wei*5+3000}원' )

수취인의 성명: 권수현
수취인의 주소: 서울
배송비: 3000원
물건 비용: 25.0원
총 합계: 3025.0원

In [31]:
# 배송비도 입력 받았을 때
name = input("수취인의 성명:")
add = input("수취인의 주소:")
deli = int(input("배송비:"))
wei = float(input("물건 무게:"))

수취인의 성명: 권수현
수취인의 주소: 서울
배송비: 4000
물건 무게: 5

In [32]:
print(f'수취인의 성명: {name}')
print(f'수취인의 주소: {add}')
print(f'배송비: {deli}원')
print(f'물건 비용: {wei*5}원')
print(f'총 합계: {wei*5+deli}원' )

수취인의 성명: 권수현
수취인의 주소: 서울
배송비: 4000원
물건 비용: 25.0원
총 합계: 4025.0원

## Ch03. numbers

### boolean
- True(참)/False(거짓)
    - 이 값을 직접 사용하기도 하고, 어떤 값에서 타입의 진위 확인을 위해 사용하기도 함
    - 파이썬 특수 함수 bool()은 모든 파이썬 데이터 타입을 불리언으로 변환
- False인 값
- if문 (조건식): "만약 어떤 값이 True면,..."

In [33]:
bool(0)

False

In [34]:
bool(' ')

True

In [35]:
bool(None)

False

### Integer
- 분수나 소수가 아닌 정수
- 음수는 '-'기호를 붙인다: i.e., -50
    - 정수 앞에 부호가 올 수 있으며, 일반적인 10진수 외 다른 진수로 표현할 수 있음
- default = 양수
- 숫자 앞에는 0을 쓰지 못한다. i.e., 09
    - 0bxx(10진수가 아닌)
    - 숫자 0은 가능
- 숫자 사이에 쉼표를 쓰면 오류: 100,000(x) => 100_000=> 숫자 사이의 언더바는 인식하지 않는다는 의미
    - 첫 번째 숫자 이후 모든 위치에 언더바를 사용할 수 있음
    - 결과를 출력할 때는 언더바를 무시하고 숫자만 출력!

In [36]:
# a = 09 ==> 이 경우 오류 발생함.

In [37]:
a = -50
b = 49
a + b

-1

## 연산자| operator
- +, -, *,/
- 피연산자|oerand: 1,2,...
- 수식|expression

In [38]:
x = 9
y = 4

# 연산
x + y
x - y
x * y
x / y
x ** y # 거듭제곱|exponential

# 연산순서- 곱셈, 나눗셈이 덧셈, 뺄셈에 우선, ()로 묶일 시 우선

6561

나눗셈 = 몫, 나머지

In [39]:
x / y # 결과물
x // y # 몫
x % y # 나머지

1

In [40]:
divmod(x, y) # (몫, 나머지)
# 튜플이라고 하는 두 항목의 결과로 반환

(2, 1)

In [41]:
# division by zero 항시 유의

### 복합 대입 연산자|compound assignment operator

In [42]:
x = 5
x - 3
print(x)
# x를 다시 정의해주어야함 ==> 계산할 식을 임시변수에 담아 x를 다시 정의해주기

5

In [43]:
x = x - 3
print(x)

#1. x - 3 계산
#2. temp = x - 3 (임시변수에 담는다)
#3. x = temp

2

In [44]:
x -= 3
print(x) #2 - 3

-1

In [45]:
x += 3
x -= 3
x *= 3
x /= 3

x += 1

### 지수표현
- 예: 1.0e-4
- e의 앞부분은 소수, 정수 둘다 됨
- 뒷부분은 정수여야함
- 뒷부분이 음수면 소수점 자릿수를 의미함
- e,E 둘다 사용 가능함

In [46]:
# 0.0004005 ==> 지수로 표현
4.005e-4

0.0004005

### Quiz 1.
- 반지름을 입력 받아서 원의 면적 구하기
- 면적 = pi * r제곱

In [47]:
rad = int(input("반지름:"))
wid = 3.14 * (rad ** 2)
print(wid)

반지름: 5

78.5

### Quiz 2.
- 숫자를 입력 받고 3의 배수인지 확인하기
- 숫자를 입력 받고 홀수인지 확인하기

In [48]:
num = int(input("숫자 입력:"))
if num % 3 == 0:
    print("3의 배수입니다.")

else :
    print("3의 배수가 아닙니다.")

숫자 입력: 3

3의 배수입니다.

In [49]:
num = int(input("숫자 입력:"))
if num % 2 == 0:
    print("짝수입니다.")

else :
    print("홀수입니다.")

숫자 입력: 8

짝수입니다.

### IF 조건문

### 코드 짜는 팁
- 주석 달기
    - `#` hash, sharp, ...
    - `#` 시작 지점부터 라인 끝까지 주석 처리됨, 라인이 바뀌면 코드로 인식
    - """ """ : 긴 주석
    - 문자열 안에 있는 sharp는 부호로 인식한다
    - 이유? 코드에 대한 설명은 최대한 하지않는다. 의도를 나타나기 위해, 오류가 있다거나, ...

- 라인 유지하기
    - 들여쓰기 (default space 4개, 탭을 이용해서)
    - 논리 구조를 나타내기 때문에 굉장히 중요함.
    - 한 라인에 80자 정도 (백슬래시로 라인을 끊어준다 (\))

In [50]:
a = 3 # 주석입니다
"""
주석1
주석2
주석3
"""
print(a)

3

In [51]:
print('hey, there #')

hey, there #

### if
if <조건식>:
    <실핼할 코드>

In [52]:
if 3 != 1:
    print("두 수는 같지 않다")

두 수는 같지 않다

- if-else
if <조건식>:
    <실행할 코드>
else:
    <실행할 코드2>

In [54]:
if 3 != 1:
    print("두 수는 같지 않다")
else:
    print("두 수가 같다")
# 만약에 같다를 표현할 때는 ==을 사용, 같지 않다를 표현할 때는 !=을 사용한다.

두 수는 같지 않다

- if-elif-else
if <조건식>:
    <실행할 코드1>
elif <조건식2>:
    <실행할 코드2>
else:
    <실행할 코드3>

In [55]:
a = 4

if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
else:
    print("3보다 크다")

3보다 크다

### 비교연산자
- x < y   (x는 y보다 작다)
- x > y  (x는 y보다 크다)
- x >= y  (x는 y보다 크거나 같다)
- x <= y  (x는 y보다 작거나 같다)
- x == y  (x는 y와 같다)
- x != y  (x는 y와 다르다)
- x is y (값, 메모리주소)-주소가 다를 수 있음
- x is not y

### Quiz
- 1. 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False 반환하기
- 2. 시험 점수를 입력 받고, 95점 이상 A+, 85점 이상 B+, 나머지 F로 출력하세요.

In [56]:
score = int(input("시험 점수:"))
if score >= 80:
    print(True)
else:
    print(False)

시험 점수: 66

False

In [57]:
score = int(input("시험 점수:"))
if score >= 95:
    print("A+")
elif score >= 90:
    print("A")
elif score >= 85:
    print("B+")
else:
    print("F")

시험 점수: 99

A+

In [60]:
### Ch03 연습문제
#1. 1시간은 몇 초인가? 대화식 인터프리터를 계산기로 사용해서 계산기로 사용해서 1시간(60분)에 1분(60초)을 곱하기
print(60 * 60)
#2. 계산한 결과를 seconds_per_hour 변수에 저장
seconds_per_hour = 60 *60
print(seconds_per_hour)
#3. 1일은 몇 초인가? (seconds_per_hour 변수를 사용)
print(seconds_per_hour * 24)
#4. 계산한 결과를 seconds_per_day 변수에 저장
seconds_per_day = seconds_per_hour * 24
#5. 부동소수점(/) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누기
print(seconds_per_day / seconds_per_hour)
#6. 정수(//) 나눗셈을 사용해서 seconds_per_day를 seconds_per_hour로 나누기. (#5번 문제 결과에서 본 .0 부분을 제외하고 결과가 같은가?)
print(seconds_per_day // seconds_per_hour)

3600
3600
86400
24.0
24

In [ ]:
### Ch04 연습문제
#1. 1~10 사이의 숫자를 선택해서 secret 변수에 할당. 그리고 1~10 사이의 다른 숫자를 선택해서 guess 변수에 할당. 
# (if, elif, else 문을 사용하여 guess 변수가 secret 변수보다 작으면 'too low', 크면 'too high’, 일치하면 'just right'를 출력)
 
secret = int(input("1~10 사이의 숫자를 하나 선택하시오:"))
guess = int(input("1~10 사이의 다른 숫자를 하나 선택하시오:"))

if guess < secret:
    print("too low")
elif guess > secret:
    print("too high")
else:
    print("just right")